:root {
    --bg-color1: rgba(245,226,220,0.5);
    --bg-color2: rgba(255,250,242,1);;
}

body {
    font-family: "Caveat", "Roboto", sans-serif;
}

header {
    background-color: var(--bg-color1);
}

.bg-set {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.board2 {
    padding: 50px 0;
    background-image: url("/img/board2.png");
    background-color: var(--bg-color1);
}

.board3 {
    padding: 50px 0;
    background-image: url("/img/board3.png");
    background-color: var(--bg-color1);
}

.board4 {
    padding: 200px 0;
    background-image: url("/img/board4.png");
    background-color: var(--bg-color1);
}

.nav-item a {
    color: var(--bs-dark);
    font-size: 2rem;
    font-weight: 400;
}

.navbar-nav {
    display: flex;
    margin-left: 0;
  }
.nav-item {
    flex: 1 1 auto;
    margin-left: 4rem;
  }
.carousel-inner img {
    opacity: 0.5;
}

.about, .catalog-all {
    background-color: var(--bg-color2);
}

.card-body {
    background-color: var(--bg-color2);
}

.card-body:hover {
    background-color: var(--bg-color1);
    transition: ease 0.3s;
}

.card {
    max-width: 18rem;
    border: none;
}

.card img {
    border-radius: 8px;
}

.card img:hover {
    opacity: 0.7;
    transition: ease 0.5s;
}

.card-body {
    margin-top: 0.5rem;
    border-radius: 8px;
    box-shadow: 1px 5px 3px rgba(0,0,0,0.3);
}

.card-body a {
    color: var(--bs-dark);
    text-decoration: none;
}

.card-title {
    margin: 0;
}

.block-icon {
    
}