{% extends "base.html" %}

{% block content %}

<section id="catalog" class="catalog-all pt-5 pb-5">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="text-center mb-2">Каталог</h2>
        </div>
      </div>
    </div>
    <div class="container pb-5">
      <div class="dropdown">
        <a class="btn btn-dark btn-lg dropdown-toggle"
        href="#" role="button" id="dropdownMenuLink"
        data-bs-toggle="dropdown" aria-expanded="false">
          Суккуленты
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li><a class="dropdown-item active" href="{{ url_for('product.echeveria') }}">Echeveria</a></li>
          <li><a class="dropdown-item" href="{{ url_for('product.haworthia') }}">Haworthia</a></li>
          <li><a class="dropdown-item" href="{{ url_for('product.index') }}">Сбросить фильтр</a></li>
        </ul>
      </div>
    </div>
    <div class="container">
      <div class="row row-cols-1 row-cols-lg-4 row-cols-md-2 g-4">
        {% for product in products %}
          <div class="col">
            <div class="card">
              <img src="{{ url_for('static', filename='/prod_image/'+product.file_name) }}" class="card-img-top" alt="{{ product.file_name }}">
              <h4 class="price"><strong>{{ product.price }} &#8381</strong></h4>
              <a href="" class="href">
                <img 
                src="{{url_for('static', filename='/img/add-to-cart.png')}}"
                class="add-to-cart" title="Добавить в корзину"
                alt="add-to-cart">
              </a>
              <a href="" class="href">
                <img 
                src="{{url_for('static', filename='/img/heart.png')}}"
                class="heart" title="Добавить в избранное"
                alt="heart">
              </a>
              <div class="card-body text-center">
                <a href="{{ url_for('product.card_of_product', product_id=product.id)}}" 
                target="_blank" title="Перейти на карточку товара"><strong>{{ product.name }}</strong>
                </a> 
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <nav class="pt-5" aria-label="Page navigation example"></nav>
      <ul class="pagination justify-content-center">  
        {% for page_num in products.iter_pages(left_edge=1, right_edge=1, left_current=5, right_current=8) %}
          {% if page_num %}
            {% if products.page == page_num %}
              <li class="page-item me-2">
                <a class="btn btn-info mb-4" href="{{ url_for('product.echeveria', page=page_num) }}">{{ page_num }}</a></li>
            {% else %}
              <li class="page-item me-2">
                <a class="btn btn-info-outline mb-4" href="{{ url_for('product.echeveria', page=page_num) }}">{{ page_num }}</a>
              </li>
            {% endif %}
          {% else %}
          <li class="page-item me-2">...</li>
          {% endif %}
        {% endfor %}
      </ul>
      </nav>
    </div>
</section>

{% endblock %}