<section id="about_me" class="about pt-5 pb-5">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="text-center mb-3">Обо мне</h2>
        </div>
      </div>
      <div class="row align-item-center">
        <div class="col-12">
          <p class="description">
            Привет, меня зовут <strong>Вероника</strong>!<br /><br />
            Мне крайне интересно, кто заботится о своих растишках по ту
            сторону экрана. Если вы на этой страничке, то у нас с вами как
            минимум один общий интерес, и это прекрасный повод познакомиться
            поближе!</p>
          </div>
        <div class="col-xxl-7 col-xl-6 col-sm-12">
          <p class="description">
            Расскажу немного о себе.<br>По профессии и призванию я
            поглотитель вкусной еды и дигустатор изысканных напитков. Очень
            люблю спорт и стараюсь поддерживать активный образ жизни. Однажды
            в горах, на скалах, я впервые увидела как растут суккуленты и даже
            умудрилась привезти несколько штук домой. Они и по сей день
            отлично себя чувствуют на альпийской горке. <br> Тогда я ещё не думала о 
            коллекции, но случился карантин и вот я здесь!</p>
          </p>
        </div>
        <div class="col-xxl-5 col-xl-6 col-sm-12 mt-sm-3 mb-sm-3 text-center">
          <img
            src="{{url_for('static', filename='/img/rejule.png')}}"
            alt="photo of the founder"
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </section>