<section id="buy_instruction" class="buy-instruction pt-5 pb-5">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="text-center mb-3">Как купить</h2>
        </div>
      </div>
      <div class="row align-item-center">
        <div class="col-6">
          <p class="description">После совершения заказа, дождитесь получения СМС-оповещения о том, 
          что ваш заказ готов к выдаче. Заказы которые состоят только из суккулентов или грунтов 
          собираются быстро, такой заказ возможно забрать день в день. 
          Заказы в которых присутствуют готовые композиции, горшки или подносы, могут собираться 
          дольше в связи с возможным отсутствием желаемой расцветки изделия. В таком случае на 
          выполнение заказа необходимо не менее 5 рабочих дней. Уточнить сроки готовности заказа 
          можно по почте, телефону или через соц.сети.
          </p>
        </div>
        <div class="col-xxl-5 col-xl-6 col-sm-12 mt-sm-3 mb-sm-3 text-center">
          <img
            src="{{url_for('static', filename='/img/Rectangle30.png')}}"
            alt="sukki-buy-image"
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </section>