<section id="contacts" class="contact-me pt-5 pb-5">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="text-center mb-3">Контакты</h2>
        </div>
      </div>
      <div class="row align-item-center">
        <div class="col-lg-6 col-md-12 mt-md-3 mb-md-3 text-center">
          <img
            src="{{url_for('static', filename='/img/Rectangle31.png')}}"
            alt="sukki-buy-image"
            class="img-fluid"
          />
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="text-center block-icon">
            <a href="https://instagram.com/_green.level_?r=nametag" target="_blank">
              <img src="{{url_for('static', filename='/img/insta-icon.png')}}" alt="insta-icon"><p>@_green.level_</p></a>
            <div class="line"></div>
            <a href="https://vk.com/serpiwomen" target="_blank">
              <img src="{{url_for('static', filename='/img/vkcom-icon.png')}}" alt="vkcom-icon"><p>https://vk.com/serpiwomen</p></a>
            <div class="line"></div>
            <a href="mailto:mallkavianka@yandex.ru?subject=Sukki.com_Вопрос о суккулентах" target="_blank">
              <img src="{{url_for('static', filename='/img/email-icon.png')}}" alt="email-icon"><p>mallkavianka@yandex.ru</p></a>
          </div>
        </div>
      </div>
    </div>
  </section>